<nav>
    <span class="logo link">
        <h1 class="kansar">Kansar</h1><h1 class="academy">Academy</h1>
    </span>
    <ul>
        <li class="nav-item waves-effect link <%= home %>" id="home">
            <h1>Home</h1>
        </li>
        <li class="nav-item waves-effect link <%= projects %>" id="projects">
            <h1>Projects</h1>
        </li>
        <li class="nav-item waves-effect link <%= about %>" id="about">
            <h1>About Me</h1>
        </li>
    </ul>
</nav>